html, body {
	height: 100%;
}

.form-signin {
	max-width: 350px;
	padding: 1rem;
}

.form-signin .form-floating:focus-within {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 5;
	border-bottom-left-radius: 5;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 5;
	border-top-right-radius: 5;
}

.btn-bd-primary {
	--bd-violet-bg: #1AFD9C;
	--bd-violet-rgb: 2, 223, 130;
	--bs-btn-font-weight: 600;
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bd-violet-bg);
	--bs-btn-border-color: var(--bd-violet-bg);
	--bs-btn-hover-color: var(--bs-white);
	--bs-btn-hover-bg: #02C874;
	--bs-btn-hover-border-color: #02C874;
	--bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
	--bs-btn-active-color: var(--bs-btn-hover-color);
	--bs-btn-active-bg: #02C874;
	--bs-btn-active-border-color: #02C874;
}

.bd-mode-toggle {
	z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
	display: block !important;
}